<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title F2E Week 4 Challenge
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="/dist/css/index.css")
    body
        section.grid-container
            div.title-wrapper
                .tag-wrap
                    span.title-tag CCCLOTHES
                h1 MEN'S TOPS
            div.product-01-wrapper
            div.product-02-wrapper
            div.product-03-wrapper
            div.product-04-wrapper
            div.product-05-wrapper
            div.product-06-wrapper
            div.product-07-wrapper
        