<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title F2E Week 4 Challenge
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="https://dakharry.github.io/F2E-Week4-Gallery/dist/css/index.css")
    body
        a(href="/F2E-Week4-Gallery/dist/detail")
            section.grid-container
                div.title-wrapper
                    .tag-wrap
                        span.title-tag CCCLOTHES
                    h1 MEN'S TOPS
                div.product-01-wrapper
                    div.pic.product-pic-1
                    h2.pic-title(text="LINEN BLAZER") 
                        span LINEN BLAZER
                    div.square-frame
                    span.pic-num 01
                    div.stripe-frame
                    span.content Men’s outfit

                div.product-02-wrapper
                    div.pic.product-pic-2
                    h2.pic-title(text="FREELIFT") 
                        span FREELIFT
                    div.square-frame
                    div.square-fill-frame
                    span.pic-num 02
                    span.content Men’s basics
                div.product-03-wrapper
                    div.pic.product-pic-3
                    h2.pic-title(text="SUPER SKINNY") 
                        span SUPER SKINNY
                    div.square-frame
                    div.square-fill-frame
                    span.pic-num 03
                    span.content Men’s pattern shirts
                div.product-04-wrapper
                    div.pic.product-pic-4
                    h2.pic-title(text="DENIM") 
                        span DENIM
                    div.square-frame
                    span.pic-num 04
                    span.content Men’s cadual
                    div.stripe-frame
                div.product-05-wrapper
                    div.pic.product-pic-5
                    h2.pic-title(text="SWEATSHIRTS") 
                        span SWEATSHIRTS
                    div.stripe-frame
                    div.square-frame
                    span.pic-num 05
                    span.content Men’s jacket
                div.product-06-wrapper
                    div.pic.product-pic-6
                    h2.pic-title(text="VINTAGE DENIM") 
                        span VINTAGE DENIM
                    div.square-frame
                    div.square-fill-frame
                    span.pic-num 06
                    span.content Men’s classic
                div.product-07-wrapper
                    div.pic.product-pic-7
                    h2.pic-title(text="EDITION") 
                        span EDITION
                    div.square-frame
                    div.square-fill-frame
                    span.pic-num 07
                    span.content Men’s shirts
            